.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1280px;
    overflow: hidden;
}

.button {
    display: block;
    width: -moz-max-content;
    width: max-content;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    /* background-color: hsl(12 88% 59% / var(--tw-bg-opacity)); */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    --tw-text-opacity: 1;
    /* color: hsl(0 0% 98% / var(--tw-text-opacity)); */
}

.footer-area {
    grid-template-areas:
        "form"
        "navigation"
        "social-media"
        "logo"
        "copy"
    ;
}

.\[grid-area\:copy\] {
    grid-area: copy;
}

.\[grid-area\:form\] {
    grid-area: form;
}

.\[grid-area\:logo\] {
    grid-area: logo;
}

.\[grid-area\:navigation\] {
    grid-area: navigation;
}

.\[grid-area\:social-media\] {
    grid-area: social-media;
}

@media (min-width: 768px) {
    .md\:footer-area-md {
        grid-template-areas:
            "logo   navigation  copy"
            /* "logo   navigation  copy" */
        ;
    }
}

.peer:checked ~ .peer-checked\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer:checked ~ .peer-checked\:bg-close-menu {
    background-image: url('../assets/icon-close.svg');
}