---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout 
	pageTitle="Catálogo de Herramienta" 
	pageDescription="Esta es una página de un catálogo de herramientas">
	<main>

		<Hero />

		<section class="wrapper text-center py-24 grid gap-12 md:grid-cols-2 md:text-left">

            <article>

                <h2 class="text-3xl font-bold text-blue-950 mb-6 md:text-4xl">¿Qué es Cabuyería?</h2>

                <p class="text-gray-600"><span class="font-bold">Cabuyería</span> es un área destinada al almacenaje y protección de los aditamentos, herramientas y materiales que se utilizan para la realización del servicio. En Cabuyería, los materiales y herramientas se mantienen a resguardo y se ubican de acuerdo al tipo de estos.</p>

            </article>

            <div class="grid gap-12">

                <article class="space-y-4 md:space-y-6">

                    <p class="bg-blue-200 rounded-l-full font-bold flex items-center md:bg-transparent">

                        <span class="bg-blue-800 text-white px-6 rounded-full py-2">
                            01
                        </span>

                        <span class="flex-1 p-2">
                            Track company-wide progress
                        </span>

                    </p>

                    <p class="text-gray-600 text-left">
                        See how your day-to-day tasks fit into the wider vision.Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.
                    </p>

                </article>

                <article class="space-y-4 md:space-y-6">

                    <p class="bg-blue-200 rounded-l-full font-bold flex items-center md:bg-transparent">

                        <span class="bg-blue-800 text-white px-6 rounded-full py-2">
                            02
                        </span>

                        <span class="flex-1 p-2">
                            Track company-wide progress
                        </span>
                        
                    </p>

                    <p class="text-gray-600 text-left">
                        See how your day-to-day tasks fit into the wider vision.Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.
                    </p>

                </article>

                <article class="space-y-4 md:space-y-6">

                    <p class="bg-blue-200 rounded-l-full font-bold flex items-center md:bg-transparent">

                        <span class="bg-blue-800 text-white px-6 rounded-full py-2">
                            03
                        </span>

                        <span class="flex-1 p-2">
                            Track company-wide progress
                        </span>
                        
                    </p>

                    <p class="text-gray-600 text-left">
                        See how your day-to-day tasks fit into the wider vision.Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.
                    </p>

                </article>

            </div>

        </section>

        <!-- <section class="wrapper text-center py-24 max-w-lg mx-auto md:max-w-xl">

            <h2 class="text-3xl font-bold text-very-dark-blue md:text-4xl">
                What they've said
            </h2>

            <div class="mt-24 mb-14">

                <article class="bg-vary-light-gray pt-16 pb-12 px-4 relative">

                    <img src="./images/avatar-ali.png" alt="" class="absolute w-24 aspect-square -top-12 inset-x-0 mx-auto">

                    <h3 class="text-xl mb-4 pt-2 font-bold text-very-dark-blue">Ali Bravo</h3>

                    <p class="text-dark-grayish-blue">
                        "We have been able to cancel so many other subscriptions since using Manage. There is no more cross-channel confusion and everyone is much more focused."
                    </p>

                </article>
            </div>

            <a href="#" class="button mx-auto shadow-xl shadow-bright-red/30">Ger Started</a>

        </section> -->

        <section class="bg-blue-900 font-bold">

            <div class="wrapper py-24 text-center grid gap-6 md:grid-cols-[40%_40%] md:justify-between md:items-center md:text-left">

                <h2 class="text-4xl text-blue-200">
                    Especificaciones técnicas de herramienta.
                </h2>

                <a href="#" class="button text-orange-200 bg-orange-600 mx-auto md:mx-0 md:justify-self-end">
                    Explorar Catálogo
                </a>

            </div>

        </section>
	</main>
</BaseLayout>

<!-- <style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style> -->
