---
import { Image }from "astro:assets";
import cover from "../assets/cover.jpeg";
---

<section transition:animate="slide" class="wrapper grid gap-8 justify-items-center items-center pb-12 md:grid-cols-2 md:py-24">
	
    <Image src={ cover } alt="" class="w-full max-w-lg md:order-1 rounded-lg" />

    <article class="text-center space-y-6 md:text-left md:space-y-8">

        <h1 class="text-4xl font-bold text-blue-950 md:text-5xl">Optimizando el servicio a clientes internos y externos.</h1>

        <p class="text-gray-600 md:text-3xl">Somos el instrumento base que suministra sin descanso todo lo necesario para realizar las maniobras de carga y descarga sin ningún tipo de contratiempo.</p>

        <a href="/catalog" class="button mx-auto bg-blue-800 shadow-xl shadow-blue-500/30 text-blue-200 font-bold md:mx-0 block">Ver Catálogo</a>

    </article>

</section>